# OS
*~
*#
*.DS_STORE
*.Trashes
ehthumbs.db
Thumbs.db
*.tmp

# Logs
logs
*.log

# Editors
*.sublime-project
*.sublime-workspace

# Node
node_modules

# Runtime
pids
*.pid
*.seed

# Others
coverage
build
